@import url(./fonts.css);


:root{
    --font-primary: 'Roboto';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1376px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

/* header start */
 
/* header end */



/* membership start */


/* membership end */

/* guide start */
.guide__custom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 115px;
}
.guide__title{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    line-height: 150px;
    font-size: 112px;
    text-align: center;
    color: #692340;
}
.guide__text{
    width: 450px;
    margin: auto;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    line-height: 44px;
    font-size: 39px;
    color: #692340;
    text-align: center;
}
.guide__about{
    margin: auto;
    width: 470px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    font-size: 16px;
    color: #692340;
    text-align: center;
}
.custom__title-2{
    width: 465px;
    margin: auto;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    line-height: 54px;
    font-size: 54px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #692340
}
.custom__text-2{
    margin: auto;
    width: 661px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    font-size: 20px;
    color: #692340;
    text-align: center;
}


/* guide end */


/* info start */


/* info end */


/* slider start */


/* slider end */


/* already start */


/* already end */


/* community start */


/* community end */


/* place start */




/* place end */


/* footer start */




/* footer end */



